<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='/stylesheet/style.css' rel='stylesheet'  type='text/css'>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">Daily Planet</a>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/articles">Articles</a></li>
				<li class="active"><a href="/articles/new">Post New Article</a></li>
				<li class="active"><a href="/about">About Us</a></li>
			</ul>
		</div>
	</nav>

	 </div>
	 <h1 class="text-center">
			Contact Us
	</h1>
	 <div class="container">	
		<p class="text-justified">
			Well, how'd you become king, then? Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! …Are you suggesting that coconuts migrate? …Are you suggesting that coconuts migrate? We found them. And this isn't my nose. This is a false one.
		</p>
		<p class="text-justified">
			The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king. On second thoughts, let's not go there. It is a silly place. Who's that then? Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! No, no, no! Yes, yes. A bit. But she's got a wart.
		</p>
	</div>	
   <footer>
	<hr>
	<div class="text-center">
		<h4> Email us at blah@blahblah.com.</h4>
	</div>
	<hr></hr>
	<div class="container links">
		<div class="row text-center">
			<img src="http://bestcamera.biz/wp-content/uploads/2014/08/twitter-logo-black-and-white.jpg" alt="..." class="img-rounded" height="25px">
			<img src="http://bestcamera.biz/wp-content/uploads/2014/08/facebook-logo-black.jpg" alt="..." class="img-rounded" height="25px">
			<img src="http://www.achieveyourpeak.com/wp-content/uploads/2014/07/linkedin-icon-black.png" alt="..." class="img-rounded" height="25px">
		</div>
	</div>
	<div class="copyright text-center"><small>© Copyright 2013 Product Name. All rights reserved.</small></div>
</footer>

</body>
</html>


