<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link href='/stylesheet/style.css' rel='stylesheet'  type='text/css'>
</head>
<body>
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="/">Daily Planet</a>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/about">About Us</a></li>
				<li class="active"><a href="/contact">Contact</a></li>
				<li class="active"><a href="/articles">Articles</a></li>
				<li class="active"><a href="/articles/new">Post New Article</a></li>
			</ul>
		        
		 </div>
	</nav>
	
		<p class="text-center" id="company">
			The Daily Planet
		</p>
	<div class="container">	
		<p class="text-justified">
			Get me a vodka rocks. And a piece of toast. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide. Bad news. Andy Griffith turned us down. He didn't like his trailer. That's what it said on 'Ask Jeeves.' That's what it said on 'Ask Jeeves.' No! I was ashamed to be SEEN with you. I like being with you.
		</p>
		<p class="text-justified">
			Steve Holt! There's so many poorly chosen words in that sentence. No! I was ashamed to be SEEN with you. I like being with you. There's only one man I've ever called a coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor. No! I was ashamed to be SEEN with you. I like being with you. Well, what do you expect, mother?
		</p>
		<p class="text-justified">
			I'm afraid I just blue myself. Oh, you're gonna be in a coma, all right. He'll want to use your yacht, and I don't want this thing smelling like fish. Now, when you do this without getting punched in the chest, you'll have more fun. Well, what do you expect, mother? I'm a monster.
		</p>
		<p class="text-justified">
			No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide. Well, what do you expect, mother? Now, when you do this without getting punched in the chest, you'll have more fun. I hear the jury's still out on science.
		</p>
	</div>	
		
	</div>


	
</body>
</html>